.assetcontainerheading{
    background-color: black;
    color: white;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
    height: 35px;
    text-align: center;
    letter-spacing: 1px;
}
.assetcontent{
    margin: 15px;
}
.updownicon{
    position: absolute;
    bottom: 0;
    right: 10px;
    margin-top: 10px;
}
.assetcontentheading{
    background-color: whitesmoke;
    padding: 5px;
    font-weight: bolder;
}
.subthread1{
    height: 10%;
    width: 20%;
    margin-left: 10%;
}
.subthreadheading{
    background-color: rgb(227, 227, 227);
    color: black;
    margin-bottom: 0;
    width: 159px;
    border-radius: 10px 10px 0 0;
    height: 30px;
    padding-left: 5%;
}
.subthreadinput{
    margin-top: 0;
    height: 60px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 20px rgba(76, 76, 76, 0.2);
    box-shadow: 2px 2px 20px rgba(76, 76, 76, 0.2);
    border: none;
}
.subthread2{
    height: 10%;
    width: 20%;
    margin-left: 25%;
}
.threadbutton{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-left: 10%;
    border: none;
    margin-top: 2%;
}
.subthread3{
    height: 10%;
    width: 74%;
    margin-left: 10%;
}
.subthreadheading1{
    background-color: rgb(227, 227, 227);
    color: black;
    margin-bottom: 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 30px;
    padding-left: 1%;
}
.subthreadinput1{
    margin-top: 0;
    height: 70px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 20px rgba(76, 76, 76, 0.2);
    box-shadow: 2px 2px 20px rgba(76, 76, 76, 0.2);
    border: none;
}
.threadcredit{
    margin-left: 10%;
    font-weight: bold;
    letter-spacing: 1px;
}
.threadbutton1{
    background-color: blue;
    border-radius: 10px;
    color: white;
    padding: 15px;
    margin-left: 67%;
    border: none;
    margin-top: 2%;
}
.lighthr{
    size: 1px;
    background-color: rgb(227, 227, 227);
    border-radius:2px;
}
.minimized{
    height: 45px;
    overflow: hidden;
}